In [2]:
pip install glob

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:992)'))': /simple/glob/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:992)'))': /simple/glob/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:992)'))': /simple/glob/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:992)'))': /simple/glob/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:992)'))': /simple/glob/
ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
python.exe -m pip install --upgrade pip

SyntaxError: invalid syntax (842801469.py, line 1)

In [4]:
pip install glob

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob

In [5]:
import glob

In [15]:
list_csv = glob.glob('*.csv')
# list_csv = ['Source1.csv','Source2.csv','Source3.csv']
list_csv

[]

In [20]:
list_json = glob.glob('*.json')

In [21]:
# list_json = ['Source1.json','Source2.json','Source3.json']
list_json

[]

In [25]:
import pandas as pd
def extract_from_csv(file_to_process):
    DataFrame = pd.read_csv(file_to_process)
    return DataFrame

extract_from_csv('source1.csv')

     Name  height  Weight
0    John      67     111
1  Jhonny      73     140
2    Alex      70     149
3    ravi      75     147
4     Joe      69     135
5   Alice      69     103

In [46]:
def extract():
    extracted_data = pd.DataFrame(columns = ['Name','height','Weight'])
    for csvfile in glob.glob('*.csv'):
        extracted_data = extracted_data.append(extract_from_csv(csvfile),ignore_index = True)
    return extracted_data

extract()

C:\Users\user\AppData\Local\Temp\ipykernel_20600\863859343.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile),ignore_index = True)
C:\Users\user\AppData\Local\Temp\ipykernel_20600\863859343.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile),ignore_index = True)
C:\Users\user\AppData\Local\Temp\ipykernel_20600\863859343.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile),ignore_index = True)

        Name height Weight
0       John     67    111
1     Jhonny     73    140
2       Alex     70    149
3       ravi     75    147
4        Joe     69    135
5      Alice     69    103
6        Ram     67    111
7     Shyam      73    140
8       Sita     70    149
9      Geeta     75    147
10     Mohan     69    135
11     Sohan     69    103
12    Babita     67    111
13      Ram      73    140
14   Krishan     70    149
15  Kanhaiya     75    147
16     Kanua     69    135
17     kanha     69    103